h1 {
  text-align: center;
}
form {
  background: linear-gradient(rgba(35, 43, 85, 0.75), rgba(35, 43, 85, 0.95));
  width: 400px;
  height: 300px;
  margin: 0 auto;
  border-radius: 5px;
}

form label {
  display: block;
  color: white;
  margin-left: 10px;
}

form input[type='text'], form input[type='email'] {
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  padding: 2.5px 0;
}

form input[type='submit'] {
  display: inline-block;
  margin: 5px 0 0 5px;
}

form input[type='reset'] {
  display: inline-block;
}